/* logo */
.logo {
  color: #fff;
  margin: 25px 0;
}

/* login */
.login-bg {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/bg-login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-login {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  width: 500px;
  background-color: #fff;
  padding: 30px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  font-size: 18px;
  width: 100%;
}

.user-login {
  display: block;
  margin: auto;
  width: 20%;
}

/* Page Not Found */
.page-not-found {
  background-color: #f8f8ff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */
.header_avatar {
  float: right;
  padding: 0px 18px;
  cursor: pointer;
}

.header_dropdown {
  padding: 0px 20px;
}

/* Columns */
.cl_1 {
  font-size: 16px;
  width: 100%;
}

.cl_2 {
  font-size: 18px;

}

#uid {
  color: #3d57ff;
}

#uid:hover {
  cursor: pointer;
  opacity: 0.6;
}

.btn_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.cpck_btn,
.cpp_btn,
.cpif_btn {
  margin: 5px 2px 5px 2px;
}

.cpck_btn {
  border: 1.5px solid #000;
  width: 48%;
  /* color: #000; */
}

.cpp_btn {
  border: 1.5px solid #000;
  width: 48%;
  /* color: #000; */
}

.cpif_btn {
  display: inline-block;
  border: 1.5px solid #000;
  width: 100%;
  /* color: #000; */
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.no {
  color: yellow;

}